:root {
    --bg-color: #050b29;
    --body-color: #c2cefc;
    --text-color: #fff;
    --button-text-color: #808fca;
    --wrapper-color: #2731666d;
    --button-color: #0d1330;
    --acent-color-1: #6849ff;
    --acent-color-2: #43d4c3;
    --acent-color-3: #4985fc86;
}


.loader {
    /* center the element on the screen /
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
border-radius: 10px;
/ center everything in it */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#readyLoader {
    /* center the element within the .loader div */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-wrap: wrap;
}

.wrapper-unloaded {
    /* set font size and text alignment */
    font-size: 2rem;
    text-align: center;

    /* add a border and background color */
    border-radius: 20px;
    background-color: gray;

    /* add a box shadow to give the appearance of floating */
    box-shadow: #000 0 0 40px;

    /* add margin and padding for spacing */
    margin: 1.2rem;
    padding: 10px;
}

.wrapper-loaded {
    /* set font size and text alignment */
    font-size: 2rem;
    text-align: center;

    /* add a border and background color */
    border-radius: 20px;
    background-color: green;

    /* add a box shadow to give the appearance of floating */
    box-shadow: #000 0 0 40px;

    /* add margin and padding for spacing */
    margin: 1.2rem;
    padding: 10px;
}